<header class="flex justify-content-between flex-wrap py-2 px-5 main-header shadow-5 align-items-center font-semibold">
    <div><app-logo></app-logo></div>
    <div *ngIf="isAuthentificated" class="flex align-items-center justify-content-between">
        <div class="px-5">
            <i class="pi pi-user"></i>  
            <span class="px-2">Василий Пупкин</span> 
        </div>
        <div>
            <button pButton 
                icon="pi pi-sign-out" 
                label="Выход" 
                (click)="logout()"
                class="p-button-secondary p-button-text">
            </button>     
        </div>
    </div>
</header>