<header class="flex justify-content-between flex-wrap py-2 px-5 main-header shadow-5 align-items-center font-semibold">
    <div><app-logo></app-logo></div>
    <div class="flex align-items-center justify-content-between">
        <div class="px-5">
            <i class="pi pi-user"></i>  
            <span class="px-2">Василий Пупкин</span> 
        </div>
        <div>
            <p-button icon="pi pi-sign-out" label="Выход" class="p-button-secondary p-button-text"></p-button>     
        </div>
    </div>
    
</header>