<div class="py-1 px-5">
    <div class="flex justify-content-between">
        <span>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Поиск" [(ngModel)]="searchValue" />
            </span>
            <p-button label="Поиск" class="p-button-help px-2" (click)="search()">
            </p-button>
        </span>
        <p-button icon="pi pi-plus" label="Добавить курс"></p-button>
    </div>
    <div *ngIf="coursesList.length">
        <app-course-item 
            *ngFor="let course of coursesListFiltered | orderBy:'creationDate'" 
            [course]="course" (editEvent)="editCourse($event)"
            (deleteEvent)="deleteCourse($event)">
        </app-course-item>
        <div class="flex align-items-center justify-content-center loadMore">
            <button pButton label="Загрузить еще" class="p-button-outlined p-button-secondary" (click)="loadMore()">
            </button>
        </div>
    </div>
    <div *ngIf="!coursesList.length">
        <h1 class="noData">Нет данных</h1>
    </div>
</div>